
@inject ProductService ProductService

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="card-body table-responsive">
        <table class="table table-hover table-valign-middle">
            <thead>
                <tr>
                    <th>Order number</th>
                    <th>OrderDate</th>
                    <th>CustomerName</th>
                    <th>CustomerNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr data-target="#order-@order.OrderNumber" data-toggle="collapse">
                        <td>@order.OrderNumber</td>
                        <td>@order.OrderDate</td>
                        <td>@order.CustomerName</td>
                        <td>@order.CustomerNumber</td>
                    </tr>
                }
            </tbody>
        </table>
        @foreach (var order in Model.Orders)
        {
            <div id="order-@order.OrderNumber" class="card-body table-responsive collapse">
                <table class="table table-hover table-valign-middle">
                    <thead>
                        <tr>
                            <th>Line number</th>
                            <th>Product number</th>
                            <th>Quantity</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>ProductGroup</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orderProduct in order.OrderProducts)
                        {
                            
                            var product = await ProductService.GetByProductNumber(orderProduct.ProductNumber);
                            
                            
                            <tr>
                                <td>@orderProduct.OrderLineNumber</td>
                                <td>@orderProduct.ProductNumber</td>
                                <td>@orderProduct.Quantity</td>
                                <td>@product.Name</td>
                                <td>@product.Description</td>
                                <td>@product.Price</td>
                                <td>@product.ProductGroup</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div> 
</div>
